
.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo-default {
    width: 1rem;
    height: .6rem;
}
.logoImg {
    display: inline-block;
}
.logo-default .logoImg {
    width: .23rem;
    height: .23rem;
}
.logoName {
    display: inline-block;
    font-weight: bold;
    color: #61dafb;
}
.logo-default .logoName {
    margin-left: .1rem;
    font-size: .2rem;
}
